/*modal*/
.backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20000;
}

.modal {
  display: none;
  position: fixed;
  background: white;
  border-radius: 10px;
  padding: 4rem;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  z-index: 20001;
}

.modal h1 {
  margin: 0;
}

.modal button {
  background: #fa923f;
  color: white;
  border: 1px solid #521751;
  font: inherit;
  font-size: 12px;
  cursor: pointer;
}

.modal button:hover,
.modal button:active {
  background: #521751;
}

.modal button:focus {
  outline: none;
}
