.modal {
  display: none;
  position: fixed;
  background: #f8f9fa;
  border-radius: 5px;
  padding: 3rem;
  width: calc(100% - 8rem);
  height: auto !important;
  max-height: calc(100% - 8rem);
  overflow: scroll;
  top: 4rem;
  left: 4rem;
  z-index: 20001;
}

.modal-backdrop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20000;
}

.modal-btn {
  color: #1a658f;
  text-decoration: none;
}

.modal-img {
  float: right;
  margin: 0 0 2rem 2rem;
  max-width: 260px;
  max-height: 260px;
}

.gallery-menu {
  margin-bottom: 1rem;
}

.gallery-card div.container {
  padding: 0 0 0 1rem;
}

.gallery-thumbnail {
  display: block;
  float: left;
  margin: 0 0 auto 0;
  padding: 0;
  max-width: 160px;
}

.card-subtitle {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .modal {
    padding: 2rem;
    width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    top: 2rem;
    left: 2rem;
  }

  .modal-img {
    display: none;
  }

  .gallery-card {
    flex-direction: column;
  }

  .gallery-thumbnail {
    float: none;
    margin: 0 0 1rem 0;
    max-width: 100%;
  }

  .gallery-card div.container {
    padding: 0;
  }

  .gallery-return-btn {
    padding-bottom: 1rem;
  }
}
