name: linting

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  linting:
    if: github.repository == 'ProjectPythia/projectpythia.github.io'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.3
