name: nightly-build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # Daily “At 00:00”

jobs:
  update-metrics:
    uses: automate-metrics.yaml@main

  build:
    if: ${{ github.repository_owner == 'ProjectPythia' }}
    uses: ProjectPythia/cookbook-actions/.github/workflows/build-book.yaml@main
    with:
      environment_file: 'environment.yml'
      environment_name: pythia
      path_to_notebooks: 'portal'
      build_command: 'make -j4 html'

  link-check:
    if: ${{ github.repository_owner == 'ProjectPythia' }}
    uses: ./.github/workflows/sphinx-link-checker.yaml
    with:
      path_to_source: 'portal'

  deploy:
      needs: build
      uses: ProjectPythia/cookbook-actions/.github/workflows/deploy-book.yaml@main
      with:
        cname: projectpythia.org
        publish_dir: 'portal/_build/html'
