name: publish-site

on:
  # Trigger the workflow on push to main branch
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1' # Weekly on Monday

jobs:
  automate-metrics:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Automate Metrics
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          PRIVATE_KEY_ID: ${{ secrets.PRIVATE_KEY_ID }}
        run: |
          python -m venv analytics-api
          source analytics-api/bin/activate
          pip install google-analytics-data cartopy matplotlib

          python .github/workflows/get-metrics.py
          python .github/workflows/write-metrics-md.py
      - name: Zip the repo
        run: |
          set -x
          set -e
          if [ -f repo.zip ]; then
              rm -rf repo.zip
          fi
          zip -r repo.zip .

  upload-zip:
    needs: automate-metrics
    runs-on: macos-latest
    steps:
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 'repo-w-metrics'
          path: 'repo.zip'

  build:
    needs: upload-zip
    uses: ProjectPythia/cookbook-actions/.github/workflows/build-book.yaml@main
    with:
      environment_file: 'environment.yml'
      environment_name: pythia
      path_to_notebooks: 'portal'
      build_command: 'make -j4 html'
      build_from_code_artifact: 'true'
      code_artifact_name: 'repo-w-metrics'
      trigger_workflow: publish-site.yaml

  deploy:
    needs: build
    uses: ProjectPythia/cookbook-actions/.github/workflows/deploy-book.yaml@main
    with:
      cname: projectpythia.org
      publish_dir: 'portal/_build/html'
